@import "tailwindcss";

@theme {
  --color-bg: #050505;
  --color-surface: #0A0A0A;
  --color-text-primary: #F3F4F6;
  --color-text-muted: #D1D5DB;
  --color-accent: #9D00FF;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
  }
  ::selection {
    background-color: rgba(157, 0, 255, 0.3);
  }
}
